@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    color: #ffffff; /* Definindo a cor padrão do texto */
}

.App {
    color: #ffffff; /* Definindo a cor padrão do texto */
}

.html, body {
    height: 100%;
}

.body {
    line-height: 1;
}

/* Reset de Estilos */
ol, ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: #000000; /* Cor de fundo dos botões */
    color: #ffffff; /* Cor do texto dos botões */
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333; /* Cor de fundo dos botões ao passar o mouse */
}

/* Estilos específicos do modelo */
/* Adicione aqui os estilos específicos do modelo do Behance que você gostaria de incluir */

/* Botão de criar post */
.new-post-button {
    background-color: #000000; /* Cor de fundo do botão */
}

.new-post-button:hover {
    background-color: #333333; /* Cor de fundo do botão ao passar o mouse */
}

/* Feed */
.feed {
    display: flex;
    flex-direction: column;
}

.post {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.post h5 {
    margin-bottom: 10px;
}

.post p {
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    align-items: center;
}

.action-button {
    margin-right: 10px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
}
